#main {
  display: flex;
  width: 100%;
  background-size: cover;
  margin: 0 auto;
  flex-direction: column;
}
#veglogo {
  margin: 2rem 1rem;
  height: 6rem;
  width: 6rem;
  box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
#content {
  text-align: left;
  color: #fff;
}
#content p {
  font-size: 12px;
}
#name {
  font-size: 21px;
  color: white;
  font-weight: bold;
  padding-top: 32px;
}
.starstyle {
  font-size: 12px;
}
.searchbarstyle {
  border: none;
  padding-top: 9px;
}
.searchIconStyle {
  color: gray;
  position: relative;
  color: gray;
  position: absolute;
  bottom: 8px;
  right: 23px;
}
.HeadFoodContainer {
  width: 100%;
  display: flex;
}
.SearchBar {
  background: white;
  border-radius: 20px;
  padding: 5px 10px;
  width: 90%;
  margin-left: 0.5rem;
  position: absolute;
  top: 9rem;
  box-shadow: 0px 2px 3px rgb(0 0 0 / 20%);
  height: 2rem;
}
