/* .recommendContainer{
    margin: 0.5rem;
}

.upIcon{
    margin-left: 9rem;
}
.foodNames{
    padding: 0.5rem;
    display: flex;
}
.starFood{
    margin-top: 20px;
    margin-right: 6px;
    color: #edb930;
}
.bestSell{
    color: #edb930;
    display: flex;
    flex-direction: column;
}
.vegSymbolSquare{
    border: 1px solid #146916;
    width: 1.2rem;
    height: 1.1rem;
    margin-top: 20px;
    margin-right: 6px;
}
.vegSymbolCircle{
    background: #047E0F;
    width: 1rem;
    height: 1rem;
    border-radius: 60%;
    margin-top: 0.1rem;
    margin-left: 0.1rem;
}
.nameText{
    color: #000;
}
.foodList{
    display: flex;
}
.foodDetailsLeft{
    display: flex;
} */