.sliderFoodContainer{
    /* display: flex;
    overflow-x: scroll;
    width: 100%;
    margin-top: 30px; */
    display: flex;
    overflow-x: scroll;
    padding-top: 1rem;
}
.food1Style{
    /* border-radius: 20px;
    width:6rem;
    height: 6rem;
    display: flex; */
}
