.imageOuter{
    padding: 25px;
    background-size: cover !important;
    border-radius: 50%;
    /* border: 10px black; */
    margin-top: 40px;
}

.foodContainer{
    width: 25%;
    display: flex;
    
}

.lineDesign{
    height: 1px;
   background-color: #bcbcbc;
}
.imageContainer{
    /* padding-left: 0.5rem; */
    /* border: 1px solid red; */
    padding: 0 2rem;
    /* padding-right: 1rem; */
    /* text-align: center; */
}
.foodName{
    /* display: flex; */
}