.mainContainer{
    display: flex;
    padding-left: 0.5rem;
}
.items{
    text-align: center;
    padding-bottom: 0.8rem;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 86.84%;
    font-family: Nunito Sans;
}
.foodImage{
    width: 5rem;
    padding: 0.2rem 0.8rem;
    border-radius: 50%;
}
.lineDesign{
    /* height: 1px; */
    /* background-color: #bcbcbc; */
    border-bottom: 0.5px solid #d4d5d9;
    padding : 0 10px
}